body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.traffic-light-area {
    width: calc(50% - 100px);
    height: calc(50vh - 100px);
    background-color: green;
}

.main-street {
    width: 200px;
    height: calc(50vh - 100px);
    background-color: grey;
}

.glasgow-road {
    width: calc(50% - 100px);
    height: 200px;
    background-color: grey;
}

.box-junction {
    width: 200px;
    height: 200px;
    background-color: yellow;
}